INSTALL_BLOCK
.buildpath
.project
.settings/*
docker/data/*
docker/persist/*
vendor/*
attachments/*
temp/*
uploads/*
# Ignore Mac DS_Store files
.DS_Store
/vendor/
*.diff
*.rej

# Backup and temporary files
*.bak
*.bak.orig
*.orig
backups*/
*.swp
*.swo
*~

# Python and translation scripts
*.py
*.pyc
*.sh
config_language.php
translations.php
lib/TranslationHelpers.php
lib/Translations.php
